#header-logo {
    background-image: url(../img/logo.png);
}


/* Hide h1 / h2 / h3 as we're going to replace them with images
if there CSS is supported in the browser (who doesn't thesedays!) */

h1,
h2,
h3 {
    display: none;
}


/* Shorten location search box by amount for location icon */

#search-location {
    width: -moz-calc(100% - 6rem);
    width: -webkit-calc(100% - 6rem);
    width: calc(100% - 6rem);
}


/* Header border */

#header-row {
    padding-top: 3rem;
    padding-bottom: 1rem;
}


/* Overrides for Materialize's default form colours */


/* label color */

.input-field label {
    color: #c0c1c3;
}


/* label focus color */

.input-field input[type=text]:focus + label {
    color: #c0c1c3;
}


/* label underline focus color */

.input-field input[type=text]:focus {
    border-bottom: 1px solid #c0c1c3;
    box-shadow: 0 1px 0 0 #c0c1c3;
}


/* valid color */

.input-field input[type=text].valid {
    border-bottom: 1px solid #c0c1c3;
    box-shadow: 0 1px 0 0 #c0c1c3;
}


/* invalid color */

.input-field input[type=text].invalid {
    border-bottom: 1px solid #c0c1c3;
    box-shadow: 0 1px 0 0 #c0c1c3;
}


/* icon prefix focus color */

.input-field .prefix.active {
    color: #c0c1c3;
}
